<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/prism.css">
    <title>Document</title>
</head>
<body class="project" id="boardom">
    <nav>
        <div class="nav-left">
            <button id="back-btn" onclick="history.back()"><ion-icon name="arrow-back-sharp"></ion-icon></button>
        </div>
        <div class="nav-right">
            <a href="#other-projects"><p>Andere projecten</p><ion-icon name="arrow-forward-sharp"></ion-icon></a>
        </div>
    </nav>
    <div class="container">
        <header id="header">
            <h1 class="anim"><span class="italic">Boardom</span>, een project dat draait om het genereren van inhoud en naadloos integreren ervan in een website.</h1>
        </header>
        <main>
            <div class="anim">
                <h1>Over dit project</h1>
                <p>In een team van vier personen kregen we de opdracht om een bedrijfsconcept te ontwikkelen en inhoud te creëren voor een website. Ons fictieve bedrijfsconcept was een platform waar studenten bordspellen konden huren in plaats van ze te kopen, om zo betaalbaarheid en milieuvriendelijkheid te bevorderen door bordspellen te recyclen. Ik heb actief bijgedragen aan zowel de inhoudscreatie als het ontwerp van de website, waarbij ik zorgvuldig de inhoudsindeling heb gepland, informatie heb geprioriteerd en kleurenschema's heb bepaald voor knoppen en andere elementen.</p>
            </div>
        </main>
        <section>
            <article class="anim">
                <img src="img/boardom-homepage-min.jpg">
            </article>
            <aside class="anim">
                <h1>Wat ik heb gemaakt</h1>
                <p>Ik nam het voortouw bij het bouwen van een website met behulp van de inhoud die ons team samen had gecreëerd.</p>
                <a href="img/boardom.pdf" download>
                    <p>Download Project</p>
                    <div class="line"></div>
                </a>
            </aside>
        </section>
        <footer id="other-projects">
            <div class="text">
                <h1 class="anim">Bekijk ook mijn andere werk</h1>
            </div>
            <div class="projects">
                <a class="user-centered-design anim" href="/usercentereddesign">
                    <img src="img/ucd-poster-min.jpg">
                    <h1>/projects/user-centered-design</h1>
                </a>
                <a class="geo-ranking anim" href="/georanking">
                    <img src="img/geo.ranking.jpg">
                    <h1>/projects/geo-ranking</h1>
                </a>
                <a class="burger-website anim" href="/burger">
                    <img src="img/burger.jpg">
                    <h1>/projects/burger-website</h1>
                </a>
                <a class="web-app-from-scratch anim" href="/burger">
                    <img src="img/web-app-from-scratch.png">
                    <h1>/projects/web-app-from-scratch</h1>
                </a>
            </div>
        </footer>
    </div>

    <script src="/js/script.js"></script>
    <script src="/js/prism.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>