<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body class="project" id="georanking">
    <nav>
        <div class="nav-left">
            <button id="back-btn" onclick="history.back()"><ion-icon name="arrow-back-sharp"></ion-icon></button>
        </div>
        <div class="nav-right">
            <a href="#other-projects"><p>Andere projecten</p><ion-icon name="arrow-forward-sharp"></ion-icon></a>
        </div>
    </nav>
    <div class="container">
        <header id="header">
            <h1 class="anim"><span class="italic">geo.ranking</span>, een sociaalmediaproject over het onderwijzen van geografische feiten</h1>
        </header>
        <main>
            <div class="anim">
                <h1>Over dit project</h1>
                <p>@geo.ranking is een experimenteel Instagram-project waar ik mijn passie voor grafisch ontwerp verken. Via dit account wil ik data omzetten in visueel aantrekkelijke en gemakkelijk te begrijpen kaarten en ranglijsten. Door overzichten van elk land ter wereld te presenteren, streef ik ernaar boeiende visualisaties te creëren die inzicht geven in wereldwijde trends en fenomenen. Ontdek prikkelende inzichten in economische indicatoren, sociale trends en culturele aspecten. Met ongeveer 29k volgers ben ik dankbaar voor de steun en interesse in dit project, waardoor ik mijn passie met een breder publiek kan delen.</p>
            </div>
        </main>
        <section>
            <aside class="anim">
                <h1>Het account</h1>
                <p>De beste manier om dit project te bekijken is door het zelf te bekijken op Instagram.</p>
                <a href="https://www.instagram.com/geo.ranking/" target="_blank">
                    <p>instagram.com/geo.ranking</p>
                    <div class="line"></div>
                </a>
            </aside>
            <article class="anim">
                <img src="img/geo-ranking-edit.png">
            </article>
        </section>
        <footer id="other-projects">
            <div class="text">
                <h1 class="anim">Bekijk ook mijn andere werk</h1>
            </div>
            <div class="projects">
                <a class="user-centered-design anim" href="/usercentereddesign">
                    <img src="img/ucd-poster-min.jpg">
                    <h1>/projects/user-centered-design</h1>
                </a>
                <a class="burger-website anim" href="/burger">
                    <img src="img/burger.jpg">
                    <h1>/projects/burger-website</h1>
                </a>
                <a class="web-app-from-scratch anim" href="/webappfromscratch">
                    <img src="img/web-app-from-scratch.png">
                    <h1>/projects/web-app-from-scratch</h1>
                </a>
                <a class="boardom anim" href="/boardom">
                    <img src="img/boardom-homepage.jpg">
                    <h1>/projects/boardom</h1>
                </a>
            </div>
        </footer>
    </div>

    <script src="js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>