<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body id="homepage">
    <div class="container">
        <nav class="anim2">
            <div class="nav-left">
                <a href="#header"><p>BrentDuineveld</p></a>
            </div>
            <div class="nav-right">
                <a href="#projects"><p>Projecten</p><ion-icon name="arrow-forward-sharp"></ion-icon></a>
                <a href="#about-me"><p>Over mij</p><ion-icon name="arrow-forward-sharp"></ion-icon></a>
                <a href="#experience"><p>Ervaring</p><ion-icon name="arrow-forward-sharp"></ion-icon></a>
                <a href="#contact"><p>Contact</p><ion-icon name="arrow-forward-sharp"></ion-icon></a>
                <a href="#resume"><p>CV</p><ion-icon name="arrow-forward-sharp"></ion-icon></a>
            </div>
            <!--
            <div class="nav-right">
                <a href="#cv" download><p>CV/Resume</p><ion-icon name="download-outline"></ion-icon></a>
            </div>
            -->
        </nav>
        <header id="header">
            <h1 class="anim"><span class="italic">Brent Duineveld</span>, digitale ontwerper gevestigd in Nederland.
            </h1>
        </header>
        <main id="projects">
            <div class="text">
                <h1 class="anim">/projecten</h1>
            </div>
            <div class="projects">
                <a class="user-centered-design anim" href="/usercentereddesign">
                    <img src="img/ucd-poster-min.jpg">
                    <h1>/projects/user-centered-design</h1>
                </a>
                <a class="geo-ranking anim" href="/georanking">
                    <img src="img/geo.ranking.jpg">
                    <h1>/projects/geo-ranking</h1>
                </a>
                <a class="burger-website anim" href="/burger">
                    <img src="img/burger.jpg">
                    <h1>/projects/burger-website</h1>
                </a>
                <a class="web-app-from-scratch anim" href="/webappfromscratch">
                    <img src="img/web-app-from-scratch.png">
                    <h1>/projects/web-app-from-scratch</h1>
                </a>
                <a class="boardom anim" href="/boardom">
                    <img src="img/boardom-homepage.jpg">
                    <h1>/projects/boardom</h1>
                </a>
            </div>
        </main>
        <section id="about-me">
            <div class="text">
                <h1 class="about-me anim">About me</h1>
                <p class="anim">Hallo, ik ben <span class="brentduineveld2">Brent Duineveld</span>, een gepassioneerde Nederlandse digitale ontwerper. Met een solide achtergrond in Mediavormgeving van Nova College in Haarlem en Communication and Multi Media Design van Hogeschool van Amsterdam, breng ik een schat aan kennis en vaardigheden met me mee. Ik ben gespecialiseerd in het creëren van boeiende gebruikerservaringen door doordacht ontwerp en innovatieve digitale oplossingen. Van webdesign tot interactieve media, streef ik ernaar om esthetiek te combineren met functionaliteit om visueel verbluffende en boeiende projecten te leveren.</p>
            </div>
        </section>
        <section id="experience">
            <p class="anim">Ik heb ervaring met</p>
            <article class="anim">
                <div class="html-css-javascript">
                    <h1>HTML, CSS and JavaScript</h1>
                    <div class="line"></div>
                </div>
                <div class="html-css-javascript-iconen">
                    <div class="image-container">
                        <ion-icon name="logo-html5"></ion-icon>
                    </div>
                    <div class="image-container">
                        <ion-icon name="logo-css3"></ion-icon>
                    </div>
                    <div class="image-container">
                        <ion-icon name="logo-javascript"></ion-icon>
                    </div>
                </div>
            </article>
            <article class="anim">
                <div class="adobe-xd">
                    <h1>Adobe XD</h1>
                    <div class="line"></div>
                </div>
            </article>
            <article class="anim">
                <div class="figma">
                    <h1>Figma</h1>
                    <div class="line"></div>
                </div>
                <div class="html-css-javascript-iconen">
                    <div class="image-container">
                        <ion-icon name="logo-figma"></ion-icon>
                    </div>
                </div>
            </article>
        </section>
        <footer id="contact" class="anim2">
            <div>
                <p class="anim">Laten we samen ergens aan werken!</p>
                <div class="e-mail-icon anim">
                    <div class="e-mail">
                        <ion-icon name="arrow-forward-sharp"></ion-icon>
                        <a href="mailto:brentduineveld2000@gmail.com" >brentduineveld2000@gmail.com</a>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </footer>
        <footer id="resume">
            <article class="anim">
                <img src="img/cv-brent-duineveld-white.jpg">
            </article>
            <aside class="anim">
                <h1>Curriculum Vitae</h1>
                <a href="img/cv-brent-duineveld-white.pdf" download>
                    <p>Download Nederlandse Curriculum Vitae</p>
                    <div class="line"></div>
                </a>
                <a href="img/cv-brent-duineveld-white-english.pdf" download>
                    <p>Download Engelse Curriculum Vitae</p>
                    <div class="line"></div>
                </a>
            </aside>
        </footer>
    </div>
    
    <script src="js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>