<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body class="project" id="ucd">
    <nav>
        <div class="nav-left">
            <button id="back-btn" onclick="history.back()"><ion-icon name="arrow-back-sharp"></ion-icon></button>
        </div>
        <div class="nav-right">
            <a href="#other-projects"><p>Andere projecten</p><ion-icon name="arrow-forward-sharp"></ion-icon></a>
        </div>
    </nav>
    <div class="container">
        <header id="header">
            <h1 class="anim"><span class="italic">User Centered Design</span>, een project waarin ik onderzoek heb gedaan naar gebruikers.</h1>
        </header>
        <main>
            <div class="anim">
                <h1>Over dit project</h1>
                <p>Het doel van dit project is om de gebruikerservaring (UX) van de koffiemachines op de Hogeschool van Amsterdam (HvA) namens Maas International te verbeteren. Momenteel ondervinden gebruikers moeilijkheden bij het bedienen van de koffiemachines en voldoet de gebruikerservaring niet aan hun verwachtingen. Het project richt zich op grondig gebruikersonderzoek om inzicht te krijgen in de behoeften, pijnpunten en mogelijkheden binnen de doelgroep. Op basis hiervan zullen alternatieve oplossingen worden voorgesteld om de UX te verbeteren.</p>
            </div>
        </main>
        <section>
            <aside class="anim">
                <h1>Poster</h1>
                <p>Om het onderzoek dat ik heb uitgevoerd effectief te presenteren, heb ik deze poster gemaakt.</p>
                <a href="img/ucd-poster.pdf" download>
                    <p>Download Poster</p>
                    <div class="line"></div>
                </a>
            </aside>
            <article class="anim">
                <img src="img/ucd-poster-min.jpg">
            </article>
        </section>
        <section>
            <article class="anim">
                <img src="img/voorpagina.jpg">
            </article>
            <aside class="anim">
                <h1>Product Biography</h1>
                <p>Naast de poster heb ik een uitgebreide productbiografie gemaakt die een gedetailleerde beschrijving geeft van al het uitgevoerde onderzoek.</p>
                <a href="img/ucd-productbio.pdf" download>
                    <p>Download Productbiografie</p>
                    <div class="line"></div>
                </a>
            </aside>
        </section>
        <footer id="other-projects">
            <div class="text">
                <h1 class="anim">Bekijk ook mijn andere werk</h1>
            </div>
            <div class="projects">
                <a class="geo-ranking anim" href="/georanking">
                    <img src="img/geo.ranking.jpg">
                    <h1>/projects/geo-ranking</h1>
                </a>
                <a class="burger-website anim" href="/burger">
                    <img src="img/burger.jpg">
                    <h1>/projects/burger-website</h1>
                </a>
                <a class="web-app-from-scratch anim" href="/webappfromscratch">
                    <img src="img/web-app-from-scratch.png">
                    <h1>/projects/web-app-from-scratch</h1>
                </a>
                <a class="boardom anim" href="/boardom">
                    <img src="img/boardom-homepage.jpg">
                    <h1>/projects/boardom</h1>
                </a>
            </div>
        </footer>
    </div>

    <script src="js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>